<div class="nav">
  <ul>
    <li class="home"><a href="/">Home</a></li>
    <li class="home"><a href="/latest">Latest</a></li>
    <li class="tutorials"><a href="/us">US</a></li>
    <li class="about"><a href="/politics">Politics</a></li>
    <li class="news"><a href="/business">Business</a></li>
    <li class="contact"><a href="/sports">Sports</a></li>
    <li class="contact"><a href="/opinion">Opinion</a></li>
    <% if current_user %>
       <li class="nav-text"><%= current_user.email %><li>
    <% end %>
    <div class="pull-right">
      <% if can? :manage, @article %>
        <li><%= link_to 'Manage', "/manage", :class => "btn btn-primary" %></li>
      <% end %>
      <% if can? :crud, @article %>
        <li><%= link_to 'Write', "/articles/new", :class => "btn btn-primary" %></li>
      <% end %>
      <% if current_user %>
        <li class="contact"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
      <% else %>
      <li class="contact"><a href="/users/sign_in">Login</a></li>
      <li class="contact"><a href="/users/sign_up">Sign up</a></li>
      <% end %>
    <div>

  </ul>
</div>
