<% @articles.each do |article| %>
  <% if article.category == 'us' %>
    <div class="col-md-4">
      <div>
        <%= image_tag article.img, :class => "image_small" %>
      </div><br>
      <div>
        <%= time_ago_in_words article.updated_at %>
      </div>
      <div>
        <p><strong><%= link_to article.headline, article %></strong></p>
      </div>
    </div>
  <% end %>
<% end %>
