// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {
  margin-left: 100px;
}

.table {
  padding-left: 10px;
}

.actions {
  margin-left: 150px;
}

.jumbotron {
  padding-left: 50px;
  background-color: white;
}


.style_image{
  height: 30em;
  width: 40em;
}

.image_small{
  width: 10em;
}
